doctype
html
  include ./partials/head.jade
  body
      include ./partials/hero.jade
      include ./partials/nav.jade
      .container
          p I'm an awesome paragraph
      include ./partials/footer.jade



    