doctype
html
  include ./partials/head.jade
  body
      include ./partials/nav.jade
      include ./partials/hero.jade
      .container
          .row
              p I'm an awesome paragraph       
      include ./partials/footer.jade
      include ./partials/foot.jade



    